# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
.venv/

# Django
db.sqlite3
db.sqlite3-journal

# Environment variables
.env

# User uploaded files
media/

# Django generated static files
staticfiles/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log