{% extends 'core/base.html' %}

{% load static %}

{% block title %}
{{ title }}
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/index_styles.css' %}">
{% endblock %}

{% block content %}

<div class="eye-tracking-container">
  <h1>Eye Tracking жүйесі</h1>
  <p>Аутизм белгілері бар адамдарда көз қозғалысын талдау үшін қолданылатын<br/>
    технология. Бұл визуалды қабылдау, зейін және әлеуметтік бағдарлау <br/>
    ерекшеліктерін анықтауға көмектеседі,
    бұл ерте диагностикаға 
    <br/>және оқыту мен терапиядағы жеке көзқарасқа ықпал етеді.</p>

  <form action="{% url 'autizm_tests:test_guide' code_name %}" method="POST">   
    {% csrf_token %}
    <button type="submit" name="action" value="start" class="eye-btn">Тестті бастау</button>
  </form>
  <form action="{% url 'autizm_tests:train_model' %}" method="POST">   
    {% csrf_token %}
    <p>Көзді бақылау жүйесін тексеру</p>
    <button type="submit" name="action" value="train" class="eye-btn">Оқыту</button>
  </form>
    
</div>

<br>

{% endblock %}
